{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idequipe</th>
                <td>{{ equipe.idequipe }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ equipe.logo }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ equipe.score }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ equipe.region }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipe_index') }}">back to list</a>

    <a href="{{ path('app_equipe_edit', {'idequipe': equipe.idequipe}) }}">edit</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
